<!doctype html>
<html lang="en" style="height: 100%; min-height: 200px; min-width: 320px;">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="static/css/bootstrap.css" rel="stylesheet">
    <title>Онлаин Библиотека</title>
      <style>
        @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
        :root {
          --yellow-100: #fff9c4;
        }
      </style>
  </head>
  <body style="height: 100%; background-color: #52a499;">
    <div class="container-fluid" style="background: linear-gradient(#042c84, #52a499) no-repeat; height: 100%;">
      <div class="row gy-3" style="width: 100%;">
        <div class="col-12" style="text-align: center; color: var(--bs-white); width: 100%;">
          <h1 class="display-1">
            Онлаин Библиотека
          </h1>
        </div>
        <div class="col-12">
          <div class="row row-cols-1 gy-5">
            <div class="col"><br></div>
            <div class=".col-sm" style="text-align: left;">
              <div class="container-sm border border-5 rounded-3" style="background-color: var(--bs-white); width: 30%; text-align: center; min-width: 200px;">
                <p style="font-family: 'Oswald', sans-serif; text-align: center;"><br>
                  <a href="/entrance" class="btn btn-primary" role="button" style="height: 40px; width: 150px;">Вход</a>
                </p>
                <p style="font-family: 'Oswald', sans-serif; text-align: center; font-size: 1rem;"><br>
                  <a href="/register" class="btn btn-primary" role="button" style="height: 40px; width: 150px;">Pегистрациия</a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
            <h1 style="font-family: 'Oswald', sans-serif; text-align: center; font-size: 2rem; color: var(--bs-white)">Об проэкте</h1><br>
            <h3 style="text-align: center; font-size: 1rem; color: var(--bs-white)">Этот проэкт сделан для отслеживания количества конкретных книг в библиотеке и у вас на руках.<br></h3>
            <h1 style="font-family: 'Oswald', sans-serif; text-align: center; font-size: 2rem; color: var(--bs-white)">Об авторах</h1>
            <h3 style="text-align: center; font-size: 1rem; color: var(--bs-white)">
              <div class="row">
                <div class="col-6">
                  <img class="border border-5 rounded-3" src="/static/pictures/Grisha.png" height="250" width="188" alt="красвчик"><br>
                  Второв Григорий:<br>
                  Программист, обучается в лицей академии яндекса
                </div>
                <div class="col-6">
                  <img class="border border-5 rounded-3" src="static/pictures/Den.png" height="250" width="175" alt="тоже красавчик"><br>
                  Демкин Денис:<br>
                  Аналитик, очень умный человек
                </div>
              </div>
            </h3>
        </div>
      </div>
    </div>
  </body>
</html>