<!doctype html>
<html lang="en" style="height: 100%; min-width: 1000px">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="static/css/bootstrap.css" rel="stylesheet">
    <title>Онлаин Библиотека</title>
      <style>
        @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
        :root {
          --yellow-100: #fff9c4;
        }
      </style>
  </head>
  <body style="height: 100%; background-color: #52a499;">
    <div class="container-fluid" style="background: linear-gradient(#042c84, #52a499) no-repeat; height: 100%;">
      <table class="table table-striped" style="color: var(--bs-white)">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Название</th>
            <th scope="col">Автор</th>
            <th scope="col">Количество</th>
          </tr>
        </thead>
        <tbody>
          {% for c, i, j, n in his %}
            <tr>
              <th scope="row" style="color: var(--bs-white)">{{ c }}</th>
              <td style="color: var(--bs-white)">{{ i }}</td>
              <td style="color: var(--bs-white)">{{ j }}</td>
              <td style="color: var(--bs-white)">{{ n }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <form method="post" action="/main">
        <input type="submit" name="out" value="Выход" class="btn btn-danger">
      </form>
    </div>
  </body>
</html>